*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build/generated
/build/intermediates
/build/kotlin
/build/outputs
/build/temp
/build/test-results
/captures
.externalNativeBuild
.cxx
local.properties
